---
Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 2
ContinuationIndentWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: DontAlign
AllowAllArgumentsOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: OnePerLine
BreakBeforeCloseBracketFunction: true
Cpp11BracedListStyle: Block
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left
ReflowComments: false
SortIncludes: Never
SpaceBeforeCpp11BracedList: true
---
Language: Java
BasedOnStyle: Google
ColumnLimit: 120
IndentWidth: 4
ContinuationIndentWidth: 8
UseTab: Never
ReflowComments: false
SortIncludes: Never
